!!!
html
  head
    title
      block title
        | Substitute
    block style
      link(rel='stylesheet', href='/css/bootstrap.css')
      style
        body { padding-top: 60px; }
        .topbar .user {
          display: block;
          float: right;
          margin-right: -20px;
        }

        .topbar .user a.screenname {
          float: left;
          color: #fff;
          font-size: 20px;
          font-weight: 200;
          padding: 8px 10px 12px 0;
        }
        section { padding-top: 50px; }
        section.first { padding-top: 0; }
        .topbar .user img {
          vertical-align: text-bottom;
          margin-right: 3px;
        }
        div.expression {
          padding: 6px 0 15px 1em;
          font-size: 2em;
          font-family: monospace;
          overflow: hidden
        }
        div.expression span {
          float: left;
          background-color: #FEFBF3;
          border: 1px solid rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          padding: 12px 9px;
        }
    block scripts
  body
    .topbar
      .fill
        .container
          strong.brand(href='/') Substitute
          ul.nav
            li.nav-home
              a(href='/') Home
            li.nav-expressions
              a(href='/expressions/') Expressions
          if user.isAuthenticated
            .user
              a.screenname(href='/controlpanel/')
                img(src='/img/twitter_userlight.png')
                | #{user.screenName}
              ul
                li
                  a.signout(href='/auth/signout') Sign Out
    .container
      block main_content
      footer
        p
          | Substitute v#{version} |
          a(href='http://github.com/insin/substitute') Fork me on GitHub
